*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

/* header related styles */

.header-font {
    font-family: 'Merriweather', serif;

}

.body-font {
    font-family: 'Inter', sans-serif;
}

button {
    background: none;
    border: none;
}

header {
    background-image: url('../images/banner.png');
    background-repeat: no-repeat;
    border-radius: 16px;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 750px;
    margin-top: 50px;

}

.container {
    width: 90%;
    margin: auto;

}

.greeting {
    color: white;
    font-size: 32px;
    font-weight: 400;
    padding-bottom: 16px;
}

.title {
    color: white;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;

}

.title-container {
    max-width: 700px;
    text-align: center;
    z-index: 2;
}

header::after {
    content: '';
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
    border-radius: 16px;
    position: absolute;
    inset: 0;
    z-index: 1;

}

/* main related styles  */
#discount {
    text-align: center;

}

#discount h2 {
    color: #FF0000;
    font-size: 88px;
    font-weight: 700;
    margin-top: 120px;
    margin-bottom: 48px;
}

#discount h4 {
    color: #FF0000;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

#discount h3 {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}

#discount img {
    margin-bottom: 120px;
}

/* main section styles */
.main-section {
    background-image: url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    border-radius: 16px;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 750px;
    margin-bottom: 120px;

}

.main-section::after {
    content: '';
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
    border-radius: 16px;
    position: absolute;
    inset: 0;
    z-index: 1;

}

.main-section-title {
    color: white;
    font-size: 64px;
    font-weight: 700;
    line-height: 88px;
    letter-spacing: 7.04px;
    width: 700px;
    margin-bottom: 24px;
}

.main-section-description {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 80%;
    margin-bottom: 48px;
}

.main-section-button {
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.main-container {
    display: flex;
    z-index: 2;
    padding: 100px;
}

.main-section-flex {
    width: 65%;
}

.main-section-img {
    width: 35%;
    text-align: center;
}

/* place related style */

#place-section {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0) 100%);
    border-radius: 16px;
    padding: 100px;
    margin-bottom: 120px;
    text-align: center;
}

#place-section h3 {
    font-size: 32px;
    font-family: Inter;
    font-weight: 600;
    text-transform: capitalize;

}

#place-section button {
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background: #FF0000;
    padding: 16px 32px;
    border-radius: 8px;
    margin-top: 48px;

}

/* offer section */
.offer-section {
    display: flex;
    align-items: center;
    gap: 70px;
    margin-bottom: 120px;

}

.offer-child-1 {
    width: 30%;
    color: #FF0000;
    font-size: 24px;
    font-weight: 500;
}

.offer-child-2 {
    width: 50%;
    text-align: center;

}

.offer-child-3 {
    width: 20%;
}

.offer-child-2 img {
    border: 15px #FF0000 solid;
    border-radius: 100%;
    padding: 40.08px;
}

/* offer child section */
.offer-child-name {
    color: #FF0000;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.offer-child-title {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 22px;
}

.offer-child-description {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 43px;
}

.offer-child-date {
    color: #FF0000;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}

/* portfolio section related */

.portfolio-write {
    width: 50%;
}

.portfolio-greeting {
    color: #FF0000;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.portfolio-title {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 22px;
}

.portfolio-description {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 48px;
}

.images-section {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
}

.images-section img {
    width: 32%;
    transition: 0.7s;
}

.images-section img:hover {
    border: 2px solid #FF0000;
    border-radius: 21px;
}

/* subscribe-section-related */
.subscribe-section {
    background: rgba(255, 0, 0, 0.05);
    border-radius: 16px;
    margin: 120px 0;
    padding: 80px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.subscribe-title {
    margin: 40px 0 20px;
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;

}

.subscribe-description {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    max-width: 900px;
}

.subscribe-form {
    margin: 48px 0 80px;
    width: 500px;
    display: flex;


}

.form-section {
    display: flex;
    justify-content: center;
}

.email {
    width: 70%;
    padding-left: 30px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: none;
}

.btn {
    width: 30%;
    padding: 24px 30px;
    background: #FF0000;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;

}

/* footer related styles */
footer {
    background: #070211;
    padding: 120px 0;
    color: white;
}

.footer-description {
    color: white;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;

}

.footer-border {
    border-bottom: 1px solid #FFFFFF26;
    padding-bottom: 50px;
    margin-bottom: 50px;

}

.footer-contact {
    display: flex;
    align-items: center;

}

.footer-contact a {
    padding-left: 16px;
    color: white;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    text-decoration: none;
}
.footer{
    display: flex;
    justify-content: space-between;
}
.icons{
    display: flex;
    justify-content: center;
    gap: 24px;

}
