/* header related styles */
.header-font {
    font-family: 'Merriweather', serif;

}

.body-font {
    font-family: 'Inter', sans-serif;
}

button {
    background: none;
    border: none;
}

header {
    background-image: url('../images/banner.png');
    background-repeat: no-repeat;
    border-radius: 16px;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 750px;

}

.container {
    width: 90%;
    margin: auto;

}

.greeting {
    color: white;
    font-size: 32px;
    font-weight: 400;
    padding-bottom: 16px;
}

.title {
    color: white;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;

}

.title-container {
    max-width: 40%;
    text-align: center;
    z-index: 2;
}

header::after {
    content: '';
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
    border-radius: 16px;
    position: absolute;
    inset: 0;
    z-index: 1;

}

/* main related styles  */
#discount {
    text-align: center;

}

#discount h2 {
    color: #FF0000;
    font-size: 88px;
    font-weight: 700;
    margin-top: 120px;
    margin-bottom: 48px;
}

#discount h4 {
    color: #FF0000;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

#discount h3 {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}

#discount img {
    margin-bottom: 120px;
}

/* main section styles */
.main-section {
    background-image: url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    border-radius: 16px;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 750px;
    margin-bottom: 120px;

}

.main-section::after {
    content: '';
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
    border-radius: 16px;
    position: absolute;
    inset: 0;
    z-index: 1;

}

.main-section-title {
    color: white;
    font-size: 64px;
    font-weight: 700;
    line-height: 88px;
    letter-spacing: 7.04px;
    width: 60%;
    margin-bottom: 24px;
}

.main-section-description {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 80%;
    margin-bottom: 48px;
}

.main-section-button {
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.main-container {
    display: flex;
    z-index: 2;
}

.main-section-flex {
    width: 65%;
}

.main-section-img {
    width: 35%;
    text-align: center;
}

/* place related style */

#place-section {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0) 100%);
    border-radius: 16px;
    padding: 100px;
    margin-bottom: 120px;
    text-align: center;
}

#place-section h3 {
    font-size: 32px;
    font-family: Inter;
    font-weight: 600;
    text-transform: capitalize;

}

#place-section button {
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background: #FF0000;
    padding: 16px 32px;
    border-radius: 8px;
    margin-top: 48px;

}

/* offer section */
.offer-section {
    display: flex;
    align-items: center;
    gap: 70px;
    margin-bottom: 120px;

}

.offer-child-1 {
    width: 30%;
    color: #FF0000;
    font-size: 24px;
    font-weight: 500;
}

.offer-child-2 {
    width: 50%;
    text-align: center;

}

.offer-child-3 {
    width: 20%;
}

.offer-child-2 img {
    border: 15px #FF0000 solid;
    border-radius: 100%;
    padding: 40.08px;
}

/* offer child section */
.offer-child-name {
    color: #FF0000;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.offer-child-title {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 22px;
}

.offer-child-description {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 43px;
}

.offer-child-date {
    color: #FF0000;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}

/* holiday child section */

.holiday-child {
    text-align: center;

}

.holiday-child-greeting {
    color: #070211;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.holiday-child-title {
    color: #070211;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 28px;
}

.holiday-child-description {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;

}